*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.allProduct{
  display: grid;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns:auto auto auto auto;
  padding: 2rem 8rem;
}

@media screen and (max-width:1200px) {
  .allProduct{
    grid-template-columns: auto auto auto;
    padding: 2rem;
  }
}
@media screen and (max-width:720px) {
  .allProduct{
    grid-template-columns: auto auto;
    padding: 1rem;
  }
  #price{
    display: block;
  }
}
@media screen and (max-width:420px) {
  .allProduct{
    grid-template-columns: auto auto ;
    gap:.8rem;
    padding:.8rem;
  }
}
