# Server Port
PORT=5000

# Database Configuration
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net
DATABASE_NAME=mamaearth

# JWT Secret Key
SECRET_KEY=your_jwt_secret_key

# Stripe Payment Secret Key
STRIPE_KEY=sk_test_your_stripe_secret_key

# Cloudinary Storage Credentials
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
