* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
/* Header Top */
#openNav{
  width: 20px;
  display: none;
}
.header{
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.663);
  position:sticky;
  z-index:1;
  background-color: white;
  top: 0;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:15px;
  border-bottom: 1px solid lightgray;
}

#logo {
  width: 100px;
}
#icon {
  width: 24px;
}
#search {
  width: 20px;
}
.icons {
  display: flex;
  gap: 3rem;
}
.icons p{
  font-weight: 600;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}
span {
  display: flex;
  align-items: end;
  gap: 5px;
}
.search {
  width: 60%;
  padding-left: 2rem;
}
.search input,input:focus{
  width: 70%;
  padding:9px;
  border: 1px solid lightgray;
  outline: none;
}
.search button {
  width: 6%;
  padding:6px 0 3px 0;
  border: 1px solid lightgray;
  position: absolute;
  font-size: 1.1rem;
}

/* Navbar */

.navbar ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 15px 100px;
}
li {
  list-style: none;
}

#navItem {
  text-decoration: none;
  color: gray;
  font-weight: 600;
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width:720px) {
  p{
    display: none;
    margin: 0;
  }
  #icon{
    margin: -8px;
  }
  #openNav{
    display: block;
  }
  .navbar ul{
    top: 0;
    left: -300px;
    padding: 0;
    justify-content: start;
    align-items: start;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.782);
    color: white;
    flex-direction: column;
    height: 100vh;
    gap:0;
    transition: all 0.6s;
  }
  .navbar ul li{
    border-bottom: 1px solid lightslategray;
    width: 100%;
    padding: 15px 100px;
    text-align: center;
  }
  #navItem{
    color: white;
  }
}

@media only screen and (max-width:420px) {
  .header-top{
    justify-content: start;
    gap: 1rem;
    padding-top: .5em;
    padding-bottom: 2.5rem;
  }
  #logo{
    width: 90px;
  }
  #icon{
    width: 20px;
    justify-self: flex-end;
  }
  .icons{
    margin-left:35%;
  }
  #openNav{
    width: 18px;
  }
  .search{
    position: absolute;
    top: 2rem;
    width: 100%;
    left: 0;
    padding:0 10px;
  }
  .search input{
    width: 100%;
    padding: 5px 0 5px 30px ;
    border-radius: 10px;
  }
  .search button{  
    position: absolute;
    left: 1rem;
    margin-top: 4px;
    padding: 0;
    background-color: white;
    border: none;
    border-radius: 10px 0 0 10px;
  }
  #search{
    width: 14px;
  }
  .navbar ul li{
    padding: 15px 85px;
  }
}